VITE_SUPABASE_URL=https://SEU_PROJETO.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxxxx
VITE_WORKER_URL=https://SEU-WORKER.workers.dev
VITE_TERABOX_CLIENT_ID=SEU_CLIENT_ID_TERABOX
VITE_EVENT_TITLE=PEDRO 18
VITE_EVENT_SUBTITLE=Momentos da festa
